
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config for INDUCE-seq processing pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

params {

    breaks = "data/breaks"
    asisi_sites = "data/chr21_AsiSI_sites.t2t.bed"
    min_mapq = 30

    outdir = "results/chr21_AsiSI"
}

process {

    executor = 'local'

    cpus = 1
    conda = "environment.yml"
}

timeline {
    enabled = true
    file    = "${params.outdir}/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/execution_report.html"
}


manifest {
    name            = 'INDUCE-seq processing pipeline'
    author          = 'Sam Devine'
    homePage        = 'https://github.com/SamSticksDevine/bsb-coding-test-advanced.git'
    description     = 'Quantifies and normalises INDUCE-seq break events overlapping predicted AsiSI sites on chr21.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=26'
    version         = '0.1'
}
